body {
    color: #000000;

    font-family: 'Vollkorn', serif;
    line-height: 150%;
    margin: 0;
}

a {
    text-decoration: none;
}

.login-screen {
    background: #00796b;
    height: 100vh
}

.login-screen .login-form {
    color: #000000;
    background: #efefef;
    padding: 20px 10px;
    border-radius: 10px;
}

.login-screen .login-form input[type="text"] {
    background: #00796b;
    color: #ffffff;
    border: 0;
    border-bottom: 3px solid #004c40;
    margin-bottom: 5px;
    padding: 5px;
}

.login-screen .login-form input[type="text"]:focus {
    border-bottom: 3px solid #48a999;
}

.jcms-form {
    height: 100%;
}
