@import url('https://fonts.googleapis.com/css?family=Palanquin');

body {
    color: var(--black);
    background: var(--white);

    font-family: 'Palanquin', sans-serif;
    line-height: 150%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    @nest &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.icon {
    max-width: 1em;
    max-height: 1em;

    vertical-align: middle;
}

.dropdown-target {
    @apply --small-shadow;

    background: var(--primary-color);
    color: var(--white);
    z-index: 1000;
    margin-top: 7px;

    & a {
        display: block;
        padding: 3px 5px;

        @nest &:hover {
            background: var(--primary-color-light);
            color: var(--white);
        }
    }
}

.form {
    display: inline;
}

button.btn {
    border: 0;
    color: inherit;
    font-family: inherit;
}

.btn {
    border-radius: 3px;
    font-weight: 600;
    background: inherit;
    display: inline-block;

    @nest &.danger {
        color: var(--red);
    }

    @nest &.edit {
        color: var(--primary-color);
    }
}
