@import url('https://fonts.googleapis.com/css?family=Palanquin');

body {
    color: #000000;

    font-family: 'Palanquin', sans-serif;
    line-height: 150%;
    margin: 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}
