@import url('https://fonts.googleapis.com/css?family=Barlow');
@custom-selector :--submit-inputs input[type='submit'], button;

body {
    color: var(--black);
    background: var(--white);

    font-family: 'Barlow', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    @nest &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.icon {
    width: 1em;
    max-height: 1em;

    margin: 0 5px;
}

.dropdown-target {
    @apply --small-shadow;

    background: var(--primary-color);
    color: var(--white);
    z-index: 1000;
    margin-top: 7px;

    & a {
        display: block;
        padding: 3px 5px;

        @nest &:hover {
            background: var(--primary-color-light);
            color: var(--white);
        }
    }
}

.form {
    display: inline;
}

.btn {
    background: inherit;
    padding: 3px 5px;
    transition: 0.1s;
    line-height: 150%;

    display: inline-flex;
    align-items: center;

    color: inherit;
    font-family: inherit;
    font-weight: 600;
    font-size: 1em;

    border: 0;
    border-radius: 2px;

    @nest &:hover {
        cursor: pointer;
    }

    @nest &.danger {
        color: var(--red);
        border: solid 2px var(--red);

        @nest &:hover {
            color: var(--white);
            background: var(--red);
        }
    }

    @nest &.edit {
        color: var(--primary-color);
        border: solid 2px var(--primary-color);

        @nest &:hover {
            color: var(--white);
            background: var(--primary-color);
        }
    }

    @nest &.success {
        color: var(--green);
        border: solid 2px var(--green);

        @nest &:hover {
            color: var(--white);
            background: var(--green);
        }
    }
}
