.content {
    height: 100%;
    padding: 0 30px;

    @nest &.hidden-content {
        display: none;
    }

    & .content-title {
        margin: 10px 0;
        font-size: 2em;

        display: block;
        width: 100%;
    }

    & .list-header {
        display: flex;
        justify-content: space-between;

        & .title {
            & span {
                margin-right: 10px;
                margin-top: 5px;
            }

            & a {
                font-size: 0.5em;
            }
        }

        & .search {
            display: inline-block;

            & input {
                background: var(--gray);

                border-radius: 2px;
                border: 1px solid var(--primary-color);
                color: var(--primary-color-light);

                padding: 7px;
            }
        }
    }

    & .table {
        border-spacing: unset;
        width: 100%;

        display: block;
        overflow-x: scroll;

        @media (--medium) {
            display: table;
        }
    }

    & .table-striped {
        border-top: 1px solid var(--gray);

        & thead {
            font-size: 1.2em;

            & tr td {
                padding: 10px;
            }
        }

        & tbody {
            & tr:nth-of-type(odd) {
                background: var(--gray);
            }

            & tr:nth-of-type(even) {
                background: var(--white);
            }
        }

        & td {
            padding: 5px 10px;
        }
    }
}
