.content {
    height: 100%;
    padding: 0 20px;

    & .table {
        border-spacing: unset;
        width: 100%;
    }

    & .table-striped {
        & tbody {
            & tr:nth-of-type(odd) {
                background: var(--secondary-color-light);
            }

            & tr:nth-of-type(even) {
                background: var(--white);
            }
        }

        & td {
            padding-left: 10px;
        }
    }
}
