@custom-selector :--login-inputs input[type="text"], input[type="password"];

.login-screen {
    background: var(--primary-color);
    height: 100vh;

    & .login-form {
        color: var(--secondary-text-color);
        background: var(--white);

        padding: 15px 20px;

        font-size: 1.3em;

        & :--login-inputs {
            background: var(--primary-color-lighter);
            color: var(--primary-text-color);

            border: 0;
            border-bottom: 3px solid var(--primary-color-lighter);

            font-size: 1em;
            margin-bottom: 5px;
            padding: 5px;
            width: 100%;
            max-width: 400px;

            @nest &:focus {
                border-bottom: 3px solid var(--primary-color);
                outline: none;
            }
        }

        & .login-button {
            background: var(--primary-color-dark);
            color: var(--white);

            margin-top: 10px;
            padding: 10px 20px;

            font-size: 0.8em;
            font-weight: normal;

            border-radius: 1px;
        }

        & .login-alert {
            max-width: 400px;
        }
    }
}
