@custom-selector :--login-inputs input[type="text"], input[type="password"];
@custom-selector :--login-inputs-focus input[type="text"]:focus, input[type="password"]:focus;

.login-screen {
    background: var(--primary-color);
    height: 100vh;

    & .login-form {
        color: var(--secondary-text-color);
        background: var(--secondary-color-light);

        padding: 20px 10px;

        border-radius: 10px;

        & :--login-inputs {
            background: var(--primary-color);
            color: var(--primary-text-color);

            border: 0;
            border-bottom: 3px solid var(--primary-color-dark);

            margin-bottom: 5px;
            padding: 5px;
        }

        & :--login-inputs-focus {
             border-bottom: 3px solid var(--primary-color-light);
            outline: none;
        }
    }
}