:root {
    --white: #f9f9f9;
    --black: #090f0f;
    --red: #cc0000;
    --gray: #d7d7d7;

    --primary-color-lighter: #8692A2;
    --primary-color-light: #5F7086;
    --primary-color: #435770;
    --primary-color-dark: #2D3E55;
    --primary-color-darker: #1A2F49;
    --primary-text-color: var(--black);

    --secondary-color: #818B8A;
    --secondary-color-lighter: #D9DEE4;
    --secondary-color-light: #BFC1BC;
    --secondary-color-dark: #807E81;
    --secondary-text-color: var(--black);

    --small-shadow: {
        box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }
}
