:root {
    --white: #f2f2f2;
    --black: #090f0f;

    --primary-color: #43646B;
    --primary-color-light: #C5D6E0;
    --primary-color-dark: #435770;
    --primary-text-color: var(--black);

    --secondary-color: #818B8A;
    --secondary-color-lighter: #D9DEE4;
    --secondary-color-light: #BFC1BC;
    --secondary-color-dark: #807E81;
    --secondary-text-color: var(--black);
}
