.side-nav {
    background: var(--primary-color);
    color: var(--white);

    padding-left: 10px;
    display: block;

    min-height: 100vh;
    height: 100%;

    @nest &.show-menu {
        @media (--medium-down) {
            width: 100%;

            padding-top: 15px;
        }
    }

    & .side-nav-item {
        margin-bottom: 30px;
        width: 100%;

        & .header {
            font-size: 1.1em;
            font-weight: 500;

            padding-bottom: 5px;
        }

        & .menu-item {
            padding-left: 15px;

            & .menu-header {
                padding: 7px;
                width: 100%;
                display: inline-block;

                border-bottom: 1px solid var(--primary-color-lighter);

                @nest &:hover {
                    background: var(--primary-color-dark);
                }
            }

            & .menu-target {
                display: none;
                width: 100%;
                background: var(--primary-color-light);

                & .option {
                    padding: 5px 0 5px 15px;
                    border-left: 4px solid var(--primary-color-light);
                    transition: 0.1s;

                    @nest &:hover {
                        border-left: 4px solid var(--primary-color-darker);
                    }
                }
            }
        }

        & .menu-selected {
            & .menu-header {
                background: var(--primary-color-dark);
            }

            & .menu-target {
                display: block;
            }
        }
    }
}
