.top-nav {
    background: var(--secondary-color-lighter);
    justify-content: space-between;
    color: var(--white);

    & .brand {
        background: var(--primary-color);
    }

    & .user-menu {
        text-align: center;
        position: relative;

        display: inline-block;
        max-width: 120px;
        float: right;

        padding: 7px;

        & .user-link {
            @apply --small-shadow;

            display: inline-block;
            background: var(--primary-color-dark);

            padding: 3px 0;

            vertical-align: center;

            & .user {
                font-size: 1.1em;
            }
        }

        & .dropdown-target {
            right: 5px;
        }
    }
}
