.top-nav {
    background: var(--primary-color);
    justify-content: space-between;
    color: var(--white);

    & > * {
        padding: 10px;
    }

    & .brand {
        background: var(--primary-color-dark);
        border-right: solid 1px var(--black);
    }

    & .user-menu {
        text-align: center;
        position: relative;

        display: inline-block;
        max-width: 150px;
        float: right;

        & .user-link {
            @apply --small-shadow;

            display: inline-block;
            background: var(--primary-color-dark);

            padding: 7px 0;

            vertical-align: center;

            & .user {
                font-size: 1.3em;
            }
        }

        & .dropdown-target {
            right: 5px;
        }
    }
}
