.jcms-main-content {
  margin-top: -100px;
  background: white;
  border-radius: 3px;
  padding-top: 25px;
  height: 100%;
}

.jcms-table-head {
  td {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.jcms-content-title {
  display:inline;
}
