$primary-color: #1e88e5;
$primary-color-light: #6ab7ff;
$primary-color-dark: #005cb2;
$primary-text-color: white;
$secondary-color: #bcbcbc;
$secondary-color-light: #eeeeee;
$secondary-color-dark: #8c8c8c;
$secondary-text-color: black;
