.col-1 {
    @apply --column;
    width: 8.33333%;
}

.col-2 {
    @apply --column;
    width: 16.66667%;
}

.col-3 {
    @apply --column;
    width: 25%;
}

.col-4 {
    @apply --column;
    width: 33.33333%;
}

.col-5 {
    @apply --column;
    width: 41.66667%;
}

.col-6 {
    @apply --column;
    width: 50%;
}

.col-7 {
    @apply --column;
    width: 58.33333%;
}

.col-8 {
    @apply --column;
    width: 66.66667%;
}

.col-9 {
    @apply --column;
    width: 75%;
}

.col-10 {
    @apply --column;
    width: 83.33333%;
}

.col-11 {
    @apply --column;
    width: 91.66667%;
}

.col-12 {
    @apply --column;
    width: 100%;
}

.offset-0 {
    margin-left: 0;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

.offset-12 {
    margin-left: 100%;
}

@media (--small) {
    .col-sm-1 {
        @apply --column;
        width: 8.33333%;
    }

    .col-sm-2 {
        @apply --column;
        width: 16.66667%;
    }

    .col-sm-3 {
        @apply --column;
        width: 25%;
    }

    .col-sm-4 {
        @apply --column;
        width: 33.33333%;
    }

    .col-sm-5 {
        @apply --column;
        width: 41.66667%;
    }

    .col-sm-6 {
        @apply --column;
        width: 50%;
    }

    .col-sm-7 {
        @apply --column;
        width: 58.33333%;
    }

    .col-sm-8 {
        @apply --column;
        width: 66.66667%;
    }

    .col-sm-9 {
        @apply --column;
        width: 75%;
    }

    .col-sm-10 {
        @apply --column;
        width: 83.33333%;
    }

    .col-sm-11 {
        @apply --column;
        width: 91.66667%;
    }

    .col-sm-12 {
        @apply --column;
        width: 100%;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333%;
    }

    .offset-sm-2 {
        margin-left: 16.66667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333%;
    }

    .offset-sm-5 {
        margin-left: 41.66667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333%;
    }

    .offset-sm-8 {
        margin-left: 66.66667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333%;
    }

    .offset-sm-11 {
        margin-left: 91.66667%;
    }

    .offset-sm-12 {
        margin-left: 100%;
    }
}

@media (--medium) {

    .col-m-1 {
        @apply --column;
        width: 8.33333%;
    }

    .col-m-2 {
        @apply --column;
        width: 16.66667%;
    }

    .col-m-3 {
        @apply --column;
        width: 25%;
    }

    .col-m-4 {
        @apply --column;
        width: 33.33333%;
    }

    .col-m-5 {
        @apply --column;
        width: 41.66667%;
    }

    .col-m-6 {
        @apply --column;
        width: 50%;
    }

    .col-m-7 {
        @apply --column;
        width: 58.33333%;
    }

    .col-m-8 {
        @apply --column;
        width: 66.66667%;
    }

    .col-m-9 {
        @apply --column;
        width: 75%;
    }

    .col-m-10 {
        @apply --column;
        width: 83.33333%;
    }

    .col-m-11 {
        @apply --column;
        width: 91.66667%;
    }

    .col-m-12 {
        @apply --column;
        width: 100%;
    }

    .offset-m-0 {
        @apply --column;
        margin-left: 0;
    }

    .offset-m-1 {
        margin-left: 8.33333%;
    }

    .offset-m-2 {
        margin-left: 16.66667%;
    }

    .offset-m-3 {
        margin-left: 25%;
    }

    .offset-m-4 {
        margin-left: 33.33333%;
    }

    .offset-m-5 {
        margin-left: 41.66667%;
    }

    .offset-m-6 {
        margin-left: 50%;
    }

    .offset-m-7 {
        margin-left: 58.33333%;
    }

    .offset-m-8 {
        margin-left: 66.66667%;
    }

    .offset-m-9 {
        margin-left: 75%;
    }

    .offset-m-10 {
        margin-left: 83.33333%;
    }

    .offset-m-11 {
        margin-left: 91.66667%;
    }

    .offset-m-12 {
        margin-left: 100%;
    }
}

@media (--large) {

    .col-lg-1 {
        @apply --column;
        width: 8.33333%;
    }

    .col-lg-2 {
        @apply --column;
        width: 16.66667%;
    }

    .col-lg-3 {
        @apply --column;
        width: 25%;
    }

    .col-lg-4 {
        @apply --column;
        width: 33.33333%;
    }

    .col-lg-5 {
        @apply --column;
        width: 41.66667%;
    }

    .col-lg-6 {
        @apply --column;
        width: 50%;
    }

    .col-lg-7 {
        @apply --column;
        width: 58.33333%;
    }

    .col-lg-8 {
        @apply --column;
        width: 66.66667%;
    }

    .col-lg-9 {
        @apply --column;
        width: 75%;
    }

    .col-lg-10 {
        @apply --column;
        width: 83.33333%;
    }

    .col-lg-11 {
        @apply --column;
        width: 91.66667%;
    }

    .col-lg-12 {
        @apply --column;
        width: 100%;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }

    .offset-lg-5 {
        margin-left: 41.66667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333%;
    }

    .offset-lg-8 {
        margin-left: 66.66667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333%;
    }

    .offset-lg-11 {
        margin-left: 91.66667%;
    }

    .offset-lg-12 {
        margin-left: 100%;
    }
}
  