:root {
    @custom-media --small (width >= 480px);
    @custom-media --medium (width >= 767px);
    @custom-media --large (width >= 1200px);

    @custom-media --small-down (width < 480px);
    @custom-media --medium-down (width < 767px);
    @custom-media --large-down (width < 1200px);

    --column {
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    --column-none {
        display: none;
    }
}
